<form action="/cart" method="post">
    <button type="submit" class="btn btn-outline-success">Add to Cart</button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
    <input type="hidden" value="<%= product._id%>" name="productId">
</form>
